---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries header="h1" %}
  <div class="dashed"></div>
  
{% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{{ content }}

<h2>Recent work</h2>
<ul class="horizontal-list">
  <li class="card">
    <a href="/Personal/Material.html">
      <span class="header">Materials</span>

      <hr />
    
      <p class="body">
        <img class="card" src="/assets/images/Materials/BuildingShaders.png" width="75%">
      </p>
    </a>
  </li>
</ul>
 
{% if site.theme_config.show_Professional == true %}
  <h2>{{ site.theme_config.home.title_Professional }}</h2>
  {% include post_card_list.html collection=site.companies tag="Professional" %}
{% endif %}

{% if site.theme_config.show_personal == true %}
  <h2>{{ site.theme_config.home.title_personal }}</h2>
  {% include post_card_list.html collection=site.companies tag="Others" %}
{% endif %}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
